@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
}

.gradient-text {
  background: linear-gradient(-90deg, #EC6907, #f5a466);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text-2 {
  background: linear-gradient(35deg, #ffffff, #ffcfab);
  -webkit-background-clip: text;
  color: transparent;
}

::-webkit-scrollbar {
  width: 7px; 
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(236,105, 7);
}